.bodySecThree{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    .container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        img{
            width: 100%;
            object-fit: contain;
        }
        & div{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;

               button{
            background-color: rgb(38, 188, 247);
            color: white;
            border: none;
            cursor: pointer;
            padding: 15px;
            font-size: 12px;
            transition: all 1s ease;
            }
            button:hover{
                background: transparent;
                border: 2px solid rgb(38, 188, 247);
                color:rgb(38, 188, 247);
            }
        }
    }
}