.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    .navLinks{
        display: flex;
        gap: 35px;
        span{
            font-size: 12px;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 20px;
            cursor: pointer;
            
            &:hover{
                background-color: white;
            }
        }
    }
    .navIcons{
        display: flex;
        gap: 35px;
    }
}
@media only screen and (min-width: 768px) {

}